
    <div class="conatianer" *ngIf=" errorMsg != '' ">
        <div class="col-md-12">
                <strong>{{errorMsg.error.message}}</strong>
        </div>
    </div>
    
    <div class="container d-flex justify-content-center">

        <div class="col-md-5">
            <form (ngSubmit)="submitForm()" class="text-center border border-light p-5">
    
                <p class="h4 mb-4">Sign in !</p>
            
                <!-- Email -->
                <input [(ngModel)]="userObject.emaill" type="email"  name="emaill" class="form-control mb-4" placeholder="What's your email aderess ?" required="required" />
    
                <!-- Password name -->
                <input [(ngModel)]="userObject.pwwd" type="password"  name="pwwd" class="form-control mb-4" placeholder="Your secret password ?" required="required" />
            
                <!-- Validate to save the user -->
                <button class="btn btn-primary btn-sm btn-block my-8" type="submit">Enter now</button>
            
            </form>
        </div>
     
    </div>
    
    
    