
    <div class="container" *ngIf="!userSavedToken">
        <div class="text-center" style="margin-top: 70px;">
            <h2 style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
                <span style="font-size: 20px;">🌟</span> You have to sign in before accessing ! <span style="font-size: 20px;">🌟</span></h2>
        </div>
    </div>
    
    <div class="container d-flex justify-content-center" *ngIf="userSavedToken">

        <div class="col-md-5">
            <form (ngSubmit)="editStatus === 'OK' ? updateOneUser() : submitForm()" class="text-center border border-light p-5">
    
                <p class="h4 mb-4">👤 Add user now !</p>
            
                <!-- FirstName -->
                <input type="text" [(ngModel)]="userObject.firstName"  name="firstName" class="form-control mb-4" placeholder="What's your Firstname ?" required />
            
                <!-- LastName -->
                <input type="text" [(ngModel)]="userObject.lastName" name="lastName" class="form-control mb-4" placeholder="What's your Lastname ?" required />

                <!-- Email -->
                <input type="email" [(ngModel)]="userObject.emaill" name="emaill" class="form-control mb-4" placeholder="What's your email aderess ?" required />

                <!-- Pseudo name -->
                <input type="text" [(ngModel)]="userObject.pseudoName" name="pseudoName" class="form-control mb-4" placeholder="What do you wanna be called ?" required />

                <!-- password name -->
                <input *ngIf="editStatus === '' " type="password" [(ngModel)]="userObject.pwwd" name="pwwd" class="form-control mb-4" placeholder="Your secret password ?" required />
            
                <!-- Validate to save the user -->
                <button class="btn btn-primary btn-sm btn-block my-8" type="submit">Validate</button>
            
            </form>
        </div>
     
    </div>


